doctype html
html
    head
        meta(charset='utf-8')
        link(rel='stylesheet', href=baseCssLink)
        link(rel='stylesheet', href=extraCssLink)
        link(rel='stylesheet', href=bootstrapLink)
        script(type='application/javascript',src=jqueryLink)
        script(type='application/javascript',src=jsLink)
        title= pageTitle
        link(rel = 'icon', href = '/favicon.ico')
    body
        div#form-box
            h1= formTitle
            form
                div.input-box
                    p.input-title= usernameTitle
                    input.input-active(name='username',disabled='disabled',value=username)
                div.input-box
                    p.input-title= idTitle
                    input.input-active(name='id',disabled='disabled',value=id)
                div.input-box
                    p.input-title= phoneTitle
                    input.input-active(name='phone',disabled='disabled',value=phone)
                div.input-box
                    p.input-title= emailTitle
                    input.input-active(name='email',disabled='disabled',value=email)
                div.submit-box
                    p
                    input.input-inactive(type='submit',value=submitTitle)
        if illegalwarning
            script.
                alert("只能够访问自己的数据");
