doctype html
html
    head
        meta(charset='utf-8')
        link(rel='stylesheet', href=bootstrapLink)
        script(type='application/javascript',src=jqueryLink)
        title= "WANRNING"
        link(rel='icon', href='/favicon.ico')
    body
        h1= ""
        script.
            alert("请勿非法查询用户信息！");
            window.location.href='./';